/* MOBILE */
@media only screen and (max-width: 768px) {
   .custom-nav-bar {
      position: sticky;
      justify-content: center;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 80px;
      background: #C5C5C5;
      z-index: 1;
   }

   .button {
      position: absolute;
      width: 20vw;
      height: 32px;
      color: black;
      background-color: #fafafa;
      font-size: 14px;
      font-weight: medium;
      text-align: center;
      border-bottom: 2px solid #101010
   }

   .who {
      right: 42vw;
      top: 50%;
      transform: translateY(-50%);
   }

   .contacts {
      right: 16vw;
      top: 50%;
      transform: translateY(-50%);
   }

   .home-section {
      position: relative;
      width: 100vw;
      height: 500px;
   }

   .web-app {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 150px;
      width: 70vw;
      height: 350px;
      border-radius: 8px 8px 8px 8px;
      filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, 0.6));
      background: white;
   }

   .blob-red {
      position: absolute;
      left: 0px;
      bottom: 0px;
      border-radius: 0px 0px 0px 8px;
   }

   .blob-green {
      position: absolute;
      right: 0px;
      top: 0px;
      border-radius: 0px 8px 0px 0px;
   }

   .welcome {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 10%;
      text-align: center;
   }

   .welcome-text1 {
      margin: 0px;
      font-size: 6vw;
      font-weight: 600;
   }

   .welcome-text2 {
      display: none;
   }

   .try-web-app-button {
      display: none;
   }

   .try-web-app-text {
      display: none;
   }

   .download-mobile-app-button {
      display: block;
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 60px;
      background: black;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
      text-decoration: none;
      padding: 0px 0px;
      border-radius: 50px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.5s ease;
   }



   .download-mobile-app-button:hover {
      background: rgba(11, 17, 18, 1);
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
   }


   .download-mobile-app-text {
      margin: 0px;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      font-size: 4vw;
      font-weight: bold;
      text-align: center;
      color: white;
   }

   .mobile-app {
      display: none;
   }

   .mobile-app-text1 {
      margin: 0px;
      font-size: 26px;
      font-weight: regular;
   }

   .mobile-app-text2 {
      margin: 0px;
      font-size: 26px;
      font-weight: bold;
   }

   .profile-cards-container>div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .profile-card {
      overflow: hidden;
      margin: 3vw;
      padding: 6vw 2vw 2vw 2vw;
      width: 50vw;
      aspect-ratio: 2/3;
      background: white;
      border-radius: 6%;
      background-position: 50% 30%;
      transition: 0.3s;
   }

   .profile-card>img {
      width: 80%;
      margin-bottom: 24px;
   }

   .profile-card-name {
      display: block;
      width: 100%;
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
      text-decoration: underline;
   }

   .profile-card-role {
      display: block;
      width: 100%;
      font-size: 2.5rem;
      font-weight: normal;
      text-align: center;
      text-decoration: none;
   }
}