/*#region Fonts*/

@font-face {
   font-family: JosefinSans;
   src: url(./Fonts/RedHatDisplay-Regular.ttf);
}

/*#endregion*/


/*#region General*/

* {
   user-select: none;
   box-sizing: border-box;
   margin: 0;
}

html {
   scroll-behavior: smooth;
   margin: 0px;
   font-size: 1.2vw;
}

body {
   display: flex;
   flex-direction: column;
   margin: 0;
   background-color: #EAEAEA;
   background-position: 0% 2%;
   background-image: url(./Assets/Images/Website/circle-bg.svg);
   background-attachment: fixed;
   font-family: 'JosefinSans';
   transition: background-position 0.1s;
}

h1 {
   font-weight: 700;
}

h2 {
   font-weight: 600;
}

h3 {
   font-weight: 400;
}

p {
   font-size: 0.9rem;
}

a {
   text-decoration: none;
   font-size: 2.4vw;
   font-weight: 500;
   color: #333;
   font-style: italic;
   border-bottom: 1px solid transparent;
   transition:border 0.3s ease-in-out ;
}

a:hover {
   border-bottom: 1px solid black;
}

img {
   text-align: center !important;
}

header {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   padding: 160px 12vw 2vw 12vw;
}

footer {
   padding-left: 58px;
   padding-top: 18px;
   height: 120px;
   color: white;
   background-color: #101010;
}

nav {
   position: fixed;
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   top: 20px;
   left: 50%;
   transform: translate(-50%);
   width: 90%;
   overflow: hidden;
   z-index: 2;
   padding: 10px 20px;
   border-radius: 100px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 2px 4px -1px;
   backdrop-filter: saturate(2) blur(16px);
   background-color: rgba(225, 225, 225, 0.6) !important;
}

.nav-links{
   display: flex;
   flex-direction: row;
   gap: 2.2vw;
   padding-left: 4.6vw;
}

#logo {
   height: 64px;
}

.title {
   padding: 0 0 0 1.5vw;
   font-size: 3vw;
}

/*#endregion*/


/*#region Materials*/

.glass {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 2px 4px -1px;
   backdrop-filter: saturate(2) blur(16px);
   background-color: rgba(225, 225, 225, 0.6) !important;
}

.red-glass {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 2px 4px -1px;
   backdrop-filter: saturate(2) blur(16px);
   background-color: rgba(194, 55, 40, 0.3) !important;

}

.green-glass {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 2px 4px -1px;
   backdrop-filter: saturate(1.05) blur(16px);
   background-color: rgba(87, 158, 135, 0.33) !important;
}

.blue-glass {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 2px 4px -1px;
   backdrop-filter: saturate(1.15) blur(16px);
   background-color: rgba(90, 170, 186, 0.33) !important;
}

.red-glass img {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 2px 4px -1px;
   backdrop-filter: saturate(2) blur(16px);
   border: solid 3px rgba(194, 55, 40, 0.6);

}

.green-glass img {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 2px 4px -1px;
   backdrop-filter: saturate(1.05) blur(16px);
   border: solid 3px rgba(31, 108, 91, 0.6);
}

.blue-glass img {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 2px 4px -1px;
   backdrop-filter: saturate(1.15) blur(16px);
   border: solid 3px rgba(50, 113, 136, 0.6);
}

/*#endregion*/


/*#region App Section */

#welcome {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
   padding: 3vw 5vw;
   gap: 2.5vw;
   border-radius: 16px 16px 16px 16px;
   background: white;
}

.blob-red {
   position: absolute;
   left: 0px;
   bottom: 0px;
   width: 16vw;
   border-radius: 0 0 0 16px;
   z-index: -2;
}

.blob-green {
   position: absolute;
   right: 0px;
   top: 0px;
   width: 16vw;
   border-radius: 0 16px 0 0;
   z-index: -1;
}

.welcome {
   text-align: center;
}

.try-web-app-button {
   padding: 1.2vw 3vw;
   border-radius: 50px;
   background: #111;
   text-decoration: none;
}

.try-web-app-text {
   margin: 0px;
   font-size: 24px;
   font-weight: bold;
   text-align: center;
   color: #eee;
}

.mobile-app {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 4vw 2vw;
   text-align: center;
}

.download-mobile-app-button {
   display: none;
}

.mobile-app-text1 {
   font-size: 26px;
   font-weight: regular;
}

.mobile-app-text2 {
   padding-top: 16px;
   font-size: 26px;
   font-weight: bold;
}

.qr-container {
   aspect-ratio: 1/1;
   width: 260px;
   background: #327188;
   border-radius: 8px;
   filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.2));
}

.qr-code {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 96%;
   height: 96%;
   border-radius: 4px;
}

/*#endregion*/


/*#region Who Section */

#who {
   display: flex;
   flex-direction: column;
   padding: 2vw 12vw 3vw 12vw;
}

#team {
   font-size: 4.4vw;
   text-align: center;
   border-bottom: 3px #000000aa solid;
}

.profile-cards-container {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding-top: 24px;
   gap: 4vw
}

.profile-cards-container>div {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 4vw
}

.profile-cards-container>div:nth-child(2) {
   transition-delay: 500ms;
}

.profile-cards-container>div:nth-child(3) {
   transition-delay: 1000ms;
}

.hidden {
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: 1s;
}

.show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}

.profile-card {
   padding: 4vw 2vw 2vw 2vw;
   width: 18vw;
   aspect-ratio: 2/3;
   padding: 10px 15px;
   background: white;
   border-radius: 6%;
   filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.2));
}

.profile-card:hover {
   transform: scale(1.075, 1.075);
   filter: drop-shadow(4px 8px 12px rgba(0, 0, 0, 0.2));
}

.profile-card-img {
   aspect-ratio: 1/1;
   width: 80%;
   object-fit: cover;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   flex-basis: 50%;
   border-radius: 50%;
   filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.2));
}

.profile-card-name {
   display: block;
   width: 100%;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   text-decoration: underline;
   filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.2));
}

.profile-card-role {
   display: block;
   width: 100%;
   font-size: 1.4rem;
   font-weight: normal;
   text-align: center;
   font-style: italic;
   filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.2));
}

/*#endregion*/


/*#region Footer*/

.footer-title {
   padding-bottom: 4px;
   user-select: text;
   font-size: 18px;
}

.footer-content {
   padding: 0px;
   user-select: text;
   font-size: 14px;
}

.contacts {
   right: 8vw;
   top: 50%;
   transform: translateY(-50%);
}

/*#endregion*/