@media only screen and (max-width: 768px) {

   /*#region General */


  /*#endregion*/


  /*#region App Section */

   #welcome {
      border-radius: 8px 8px 8px 8px;
   }

   .welcome {
      text-align: center;
      font-size: 2.6vw;
   }

   .blob-red {
      position: absolute;
      left: 0px;
      bottom: 0px;
      border-radius: 0px 0px 0px 8px;
   }

   .blob-green {
      position: absolute;
      right: 0px;
      top: 0px;
      border-radius: 0px 8px 0px 0px;
   }

   .try-web-app-button {
      display: none;
   }

   .try-web-app-text {
      display: none;
   }

   .download-mobile-app-button {
      display: block;
      background: #111;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
      text-decoration: none;
      padding: 2vw 4vw;
      border-radius: 50px;
   }

   .download-mobile-app-text {
      font-size: 2.4vw;
      font-weight: 600;
      color: #eee;
   }

   .mobile-app {
      display: none;
   }

   /*#endregion*/


   /*#region Who Section*/

   .profile-cards-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .profile-cards-container>div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .profile-card {
      overflow: hidden;
      margin: 3vw;
      padding: 6vw 2vw 2vw 2vw;
      width: 40vw;
      aspect-ratio: 2/3;
      background: white;
      border-radius: 6%;
      background-position: 50% 30%;
      transition: 0.3s;
   }

   .profile-card-img {
      width: 80%;
      margin-bottom: 24px;
   }

   .profile-card-name {
      display: block;
      width: 100%;
      font-size: 3.2rem;
      font-weight: bold;
      text-align: center;
      text-decoration: underline;
   }

   .profile-card-role {
      display: block;
      width: 100%;
      font-size: 2.5rem;
      font-weight: normal;
      text-align: center;
      text-decoration: none;
      color:#222
   }

   /*#endregion*/


   /*#region Footer */

   .contacts {
      right: 2vw;
      top: 50%;
      transform: translateY(-50%);
   }

   /*#endregion*/
}